%p
  = f.check_box :enabled
  = f.label :enabled
  #styles
    - f.fields_for :styles do |style_form|
      = render :partial => 'styles/style_form', :locals => { :f => style_form, :style => style_form.object, :type => type }
  %p
    = link_to('Add a Style', '#', :id => 'add_style', :rel => "/types/#{type.to_param}/styles/new")
