%h2= @layer.title
%h4 Types
%ul
  - @layer.types.each do |type|
    %li
      = type.title
      = link_to('Edit', edit_layer_type_path(@layer, type))
      = link_to('Delete', layer_type_path(@layer, type), :method => :delete)

= link_to 'Add Type', new_layer_type_path(@layer)

%h4 Settings

- form_for(@layer, :url => layer_path(@layer), :method => 'put') do |f|
  = render :partial => 'form', :locals => { :f => f }
  = f.submit('Update')
  = link_to 'Cancel', layers_path, :class => 'nav_link'

