%ul.sortable_list
  - @layers.each do |layer|
    %li.sortable_item.ui-state-default{ :id => layer.id.to_s }
      %span.ui-icon.ui-icon-arowthick-2-n-s
      = layer.title
      = link_to('Edit', edit_layer_path(layer), :style => 'text-decoration: underline;')
      = link_to('Delete', layer_path(layer), :method => :delete, :style => 'text-decoration: underline;')
      - if layer.enabled?
        %input.layer_toggle{ :type => 'checkbox', :rel => layer.id, :checked => 'checked' }
      - else
        %input.layer_toggle{ :type => 'checkbox', :rel => layer.id }

%p
  = link_to 'Add Layer', new_layer_path
  = link_to 'Preview Map', map_path
