%ul.sortable_list
  - @layers.each do |layer|
    %li.sortable_item.ui-state-default{ :id => layer.id.to_s }
      %span.ui-icon.ui-icon-arowthick-2-n-s
      = layer.title
      = link_to('Edit', edit_layer_path(layer), :style => 'text-decoration: underline;')

#sample_controls
  %label{ :for => 'zoom_level' } Zoom Level: 
  = select_tag(:zoom_level, options_for_select((1..20).map { |i| [i, i] }))

  %label{ :for => 'center_lat' } Center Lat:
  = text_field_tag(:center_lat, '48.874')

  %label{ :for => 'center_lon' } Center Lon:
  = text_field_tag(:center_lon, '2.2928')

  = submit_tag('Create Sample', :id => 'create_sample_button');

#sample_image_block
  #sample_image
  #sample_spinner= image_tag('spinner.gif')
